li{
    color: black;
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
}
.containere{
    display:flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    padding: 2rem;
    flex-wrap: wrap;
}
.col2{
    display:flex;
    flex-direction:column;
    align-items: center;   
}
.list{
    margin: 5px 2px 5px 0px;
    display:flex;
    flex-direction:column;
    padding: 15px;
    align-items: center;
    font-weight:bold;
    text-decoration:none;
    font-size: 20px;
}
.tag{
    text-decoration:none;
}
.logoFooter{
    width: 180px; 
    margin-bottom: 10px;
    border-radius: 20px;
}
.P-Footer{
    width: 180px; 
    margin-bottom: 10px;
    font-weight:bold;
    font-size: 15px;
    margin-left: 10px;
}
.Footer{
    background-color: #afc0f1;
}
h4{
    margin: 20px 2px 5px 0px;
    font-size: 22px;
    color: #570621;
    font-weight:bold;
}
.icons{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
}

@media only screen and (max-width: 750px) {
    .containere{
        display:flex;
        width: 100%;
        margin: auto;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        flex-wrap: wrap;
        margin: auto;
    }
    }
 @media only screen and (max-width:  750px) {
        .containere{
            display:flex;
            flex-direction: column;
            width: 100%;
            margin: auto;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            flex-wrap: wrap;
            margin: auto;
        }
        }